<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.busticketingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home.TicketData"></activity>
        <activity android:name=".Home.TicketListAdapter" />
        <activity android:name=".Home.TicketList" />
        <activity android:name=".Cart.Cart" />
        <activity android:name=".Cart.Cart_Item" />
        <activity android:name=".Payment.Paying_success" />
        <activity android:name=".Payment.Paying" />
        <activity android:name=".Payment.PaymentWaiting" />
        <activity android:name=".Payment.PaymentWaiting_Cart" />
        <activity android:name=".Home.Home_Page" />
        <activity android:name=".Friend.FriendList" />
        <activity android:name=".Friend.Search_member" />
        <activity
            android:name=".LoginAndSignup.LoginMemberActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginAndSignup.SignUpActivity" />
        <activity android:name=".LoginAndSignup.LoginUserActivity" />
        <activity android:name=".BusList.MainActivity" />
        <activity android:name=".BusList.SelectDepartureActivity" />
        <activity android:name=".BusList.SelectDestinationActivity" />
        <activity android:name=".BusList.SelectSeatActivity_General" />
        <activity android:name=".BusList.modifySeatActivity" />
        <activity android:name=".BusList.TerminalActivity" />
    </application>

</manifest>